<h1>Listing entradas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Colegio</th>
      <th>Ciudad</th>
      <th>Link video</th>
      <th>Link bloopers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entradas.each do |entrada| %>
      <tr>
        <td><%= entrada.nombre %></td>
        <td><%= entrada.colegio %></td>
        <td><%= entrada.ciudad %></td>
        <% if entrada.link_video.include? "http://" or entrada.link_video.include? "https://" %>
        <td><a href=<%= entrada.link_video %>>LINK</a></td>
        <% else %>
        <td>NO DISPONIBLE</td>
        <% end %>
        <% if entrada.link_bloopers.include? "http://" or entrada.link_bloopers.include? "https://" %>
        <td><a href=<%= entrada.link_bloopers %>>LINK</a></td>
        <% else %>
        <td>NO DISPONIBLE</td>
        <% end %>
        <!--<td><%= link_to 'Show', entrada %></td>
        <td><%= link_to 'Edit', edit_entrada_path(entrada) %></td>
        <td><%= link_to 'Destroy', entrada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Entrada', new_entrada_path %> -->
